<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.mos.polls"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="ru.mos.polls.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ru.mos.polls.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature android:name="android.hardware.camera.autofocus"
                  android:required="false"/>

    <application
        android:name="ru.mos.polls.AGApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_v230"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher_v230"
        android:theme="@style/AppTheme"
        tools:replace="theme,icon">
        <activity
            android:name="ru.mos.polls.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_short"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ru.mos.polls.AgAuthActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="ru.mos.polls.AgPhoneConfirmActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="ru.mos.polls.AgRegisterActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="ru.mos.polls.AgRestoreActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="ru.mos.polls.instruction.InstructionActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ru.mos.polls.NewsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/mainmenu_news"
            android:screenOrientation="portrait" />
        <activity
            android:name=".survey.experts.DetailsExpertsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".survey.SurveyActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="poll"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".social.auth.SocialAuthActivity"-->
            <!--android:configChanges="orientation|screenSize"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <!--<activity-->
            <!--android:name="ru.ok.android.sdk.OkAuthActivity"-->
            <!--android:configChanges="orientation|screenSize"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data-->
                    <!--android:host="ok1078245120"-->
                    <!--android:scheme="okauth" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="ru.mos.polls.social.auth.TwAuthActivity"-->
            <!--android:configChanges="orientation|screenSize"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data-->
                    <!--android:host="callback"-->
                    <!--android:scheme="x-oauthflow-twitter" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
            <!--android:name="com.facebook.FacebookActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<activity-->
            <!--android:name="ru.mos.polls.social.auth.FbAuthActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
            <!--android:label="@string/auth"-->
            <!--android:screenOrientation="portrait" />-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <activity
            android:name=".profile.gui.activity.ChildrenBirthdaysActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <activity
            android:name="ru.mos.polls.offer.OfferActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/offer_request"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.mos.polls.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
                <data
                    android:host="events"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
                <data
                    android:host="pollTasks"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
                <data
                    android:host="novelties"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
                <data
                    android:host="task"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
            </intent-filter>
        </activity>

        <activity
            android:name="ru.mos.polls.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="new"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
                <data
                    android:host="open"
                    android:pathPattern=".*"
                    android:scheme="isupercitizen" />
                <data
                    android:host="advertisement"
                    android:pathPattern=".*"
                    android:scheme="isupercitizen" />
            </intent-filter>
        </activity>

        <activity
            android:name=".survey.variants.select.GorodSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/gorod_select_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DinamicWithArrowActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".survey.variants.select.ServiceSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/service_select_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="ru.mos.polls.db.PollsProvider"
            android:authorities="@string/polls_authority"
            android:exported="false" />

        <activity
            android:name=".profile.gui.activity.UpdateSocialActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/socials"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".survey.variants.image.FullImageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />

        <!--<activity-->
            <!--android:name=".social.auth.VkAuthActivity"-->
            <!--android:configChanges="orientation|screenSize"-->
            <!--android:label="@string/auth"-->
            <!--android:screenOrientation="portrait" />-->

        <!--<activity-->
            <!--android:name=".social.auth.GpAuthActivity"-->
            <!--android:configChanges="orientation|screenSize"-->
            <!--android:label="@string/auth"-->
            <!--android:screenOrientation="portrait" />-->

        <activity
            android:name=".subscribes.gui.SubscribeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/subscribes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".support.gui.AgSupportActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".event.gui.activity.EventActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/about_event"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="event"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
            </intent-filter>
        </activity>

        <activity
            android:name=".event.gui.activity.EventDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".event.gui.activity.EventCommentsListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_event_comments_list"
            android:screenOrientation="portrait" />

        <activity
            android:name=".event.gui.activity.EventCommentAddActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".survey.hearing.gui.activity.PguAuthActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".survey.hearing.gui.activity.PguVerifyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".survey.hearing.gui.activity.PguRebindActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".profile.gui.activity.AchievementActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="achievement"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
            </intent-filter>
        </activity>

        <activity
            android:name=".innovation.gui.activity.InnovationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="novelty"
                    android:pathPattern=".*"
                    android:scheme="iSuperCitizen" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EmailQuestActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".profile.gui.fragment.location.NewAddressActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile.gui.fragment.location.CustomFlatActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".quests.ProfileQuestActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ToolbarDynamicActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".survey.hearing.gui.activity.MeetingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".survey.hearing.gui.activity.ExpositionActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".PreviewAppActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--<activity android:name="ru.ok.android.sdk.OkPostingActivity" />-->

        <activity
            android:name="ru.mos.polls.tutorial.TutorialActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".base.ui.BaseActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <!--<service android:name=".social.service.PostingService" />-->

        <service
            android:name=".geotarget.job.GeotargetJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />"
            </intent-filter>
        </service>

        <receiver android:name=".geotarget.manager.GeotargetManager" />

        <receiver android:name=".broadcast.SmsBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.mos.elk.push.GCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="ru.mos.polls" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />


        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics_global_config" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
